h5py==3.8.0
joblib==1.2.0
opencv-python==4.7.0.72
pandas==1.5.3
Pillow==9.3.0
slideio==2.0.5
tqdm 
torch==1.13.0
torchvision==0.14.0
timm-0.5.4.tar
ftfy
regex
einops
fvcore
decord==0.6.0
iopath
numpy
matplotlib
types-regex
mayavi
transformers

